* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    user-select: none;
    -webkit-app-region: drag;
}

.app {
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.task-modal {
    background-color: #202020;
    width: 80%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    label {
        color: antiquewhite;
    }
}

.open {
    display: block;
}

.task {
    background-color: #202020;

    & p, h1, span {
        color: antiquewhite;
    }
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}
