* {
    box-sizing: border-box;
}


p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    user-select: none;
    -webkit-app-region: drag;
}

.app {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.task-modal {
    background-color: #202020;
    width: 80%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    label {
        color: antiquewhite;
    }
}

.open {
    display: block !important;
}

.task {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;


    & p, h1, span {
        color: antiquewhite;
    }

    & h1 {
        line-height: 1.2;
        text-align: start;
    }
}

.description {
    background-color: #454545;
    max-width: 100%;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0;
}

#deadlineDate {
    display: none;
}


button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}
